body {
	background-color: #fff;
	font-family: 'OpenSans';
	margin: 0;
	text-align: justify;
}

img {
	border: 0;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	min-height: 510px;
	width: 1000px;
	margin: 0 auto;
	padding: 54px 40px;
}

h1 {
	color: #3e3e3e;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 30px;
}

h2 {
	color: #2c2c2c;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
}

p {
	color: #585858;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}

p a {
	color: #585858;
}

#about {
	width: 1000px;
	margin: 0 auto;
}

#about h1,
.section h1 {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 12px;
}

.section {
	float: left;
	width: 390px;
	margin-right: 50px;
}

.section h1 {
	margin-bottom: 18px;
}

.clearfix:after,
#contents:after {
	clear: both;
	content: "";
	display: block;
	height: 1%;
	line-height: 0;
	visibility: hidden;
}